@charset "UTF-8";

/*Importando a Fonte do Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Chakra+Petch:wght@300&display=swap');

/*Importando o arquivo da Fonte Android*/
@font-face {
    font-family: 'android';
    src: url(../fontes/idroid.otf) format('opentype');
    font-weight: normal;
}

/*
PALETA DE CORES
#c5ebd6
#83e1ad
#3ddc84
#2fa886
#1a5c37
#063d1e

CRIANDO UMA VARIÃVEL PARA AS CORES :ROOT {}
*/
:root{
    --cor1: #c5ebd6;
    --cor2: #83e1ad;
    --cor3: #3ddc84;
    --cor4: #2fa886;
    --cor5: #1a5c37;
    --cor6: #063d1e;

    --fonte-padrao: arial, verdana, helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'android', cursive;
}

/*Para tirar todas as margens e paddins usando o seletor global *{} */
*{
    margin: 0px;
    padding: 0px;
}


body{
    background-color: var(--cor1);
    font-family: var(--fonte-padrao);
    text-align: justify;
}
a.externo::after{
    content: '\00a0\1F517';
}
p {
    margin: 15px 0px;
    text-indent: 20px;
    line-height: 1.5em;
}
header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor6));
    min-height: 150px;
    text-align: center;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.384);
}
header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    padding-top: 40px;
    margin-bottom: 20px;
    font-size: 3em;
    font-weight: normal;
}
header > p{
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 600px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
nav {
    background-color: var(--cor6);
    padding: 10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.459);
}
nav > a {
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 1s;
}
nav a:hover{
    background-color: var(--cor4);
}
main {
    background-color: white;
    max-width: 1000px;
    min-width: 300px;
    padding: 20px;
    margin: auto;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px black;

}
main h1 {
    color: var(--cor5);
    font-family: var(--fonte-android);
    padding: 20px;
}
main h2{
    color: var(--cor4);
    font-family: var(--fonte-android);
    padding: 10px;
    font-size: 1.1em;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    border-radius: 5px;
    font-weight: normal;
}
main > img{
    width: 100%;
    
}

main strong{
    background-color: var(--cor1);
}
main a{
    text-decoration: none;
}
main a:hover{
    text-decoration: underline;
}
div.video{
    background: var(--cor4);
    margin-bottom: 30px;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    position: relative;
    padding-bottom: 59%;
}
div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
picture{
    width: 100%;
}
aside{
    background-color: var(--cor1);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.384);
    margin-bottom: 20px;
}
aside > ul{
    list-style-position: inside;
    columns: 2;
    list-style-type: '\2714\00a0';
}
aside > h3{
    background-color: var(--cor3);
    padding: 5px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}
footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    padding: 10px;
}
footer a{
    color: white;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
}